build*/
artifacts/
dist/
*.so
*.pyd
*.pyc
__pycache__/
.pytest_cache/
.venv/
*.egg-info/

release-dist/
wheelhouse/
incoming/
*.spec
python/bin/
python/include/
python/lib/
python/share/
python/munet/bin/
